<li><a href="/">Home</a></li>
<li><a href="/gallery">Gallery</a></li>
<li class="dropdown">
	<span class="drop-trigger" href="/blog">Blog</span>
	<ul class="drop-menu">
		<li>Recent Posts</li>
		{% for post in site.posts limit: 5 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</li>
<li><a href="{{ site.posts.first.url }}">Newest Post</a></li>

<!-- first you have to li dropdown
then the span of the word blog, classed drop trigger
then a ul called drop menu with list items of recent posts 
the dropdown is position relative, it's in the flow of the other nav items 
and is a frame foe what's inside of it.
when you hover over the dropdown the drop-menu wil display-->